<% include bootstrap.ejs %>
<html>
<head>
<title>Edit Customer</title>
<style type="text/css">

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

 #signout {
 	margin-top: 20px;
 }
</style>

<script>
$(function() {
    var status="<%=movie.status%>"; 
    $('#status').val(status);
    });
</script>
</head>
<body>

<div class="container-fluid">
		
	
		<div class="row">
			<div class="col-md-2 sidebar">
				<ul class="nav nav-sidebar">
				
					<li><a href="/home">Home</a></li>
					<li><a href="/searchCustomer">Search Customer</a></li>
					<li><a href="/searchMovie">Search Movie</a></li>
					<li><a href="/addCustomer">Add Customer</a></li>
					<li><a href="/addMovie">Add Movie</a></li>
					<li class="active"><a href="/displayMembers">Display Members</a></li>
					<li><a href="/displayMovies">Display Movies</a></li>
					</ul>
					
				</div>
			</div>
			<div class="col-md-10 col-md-offset-2">
				<div class="pull-right" id="signout">
					<form action="/loginPage">
						<input class="btn btn-primary" type="submit" name="submit"
						value="Sign Out" />
					</form>
				</div>
				
				


	<h2>Edit Movie</h2>
	<form class="navbar-form navbar-left" role="search"
		action="/updateMovie" method="POST">
		<div class="col-xs-2">
			<div class="form-group">
				<br> Movie Name: <input type="text" name="movieName" id="mname"
					class="form-control" placeholder="Movie Name"
					value="<%=movie.name%>" required></input><br> <br>
				Banner Name: <input type="text" name="bannerName" id="bname"
					class="form-control" placeholder="Banner Name"
					value="<%=movie.bannerName%>" required></input><br> <br>
				Release Date: <input type="text" name="reldate" id="rdate"
					class="form-control" placeholder="YYYY"
					value="<%=movie.releaseDate%>" required></input><br> <br>
				Category: <input type="text" name="category" id="category"
					class="form-control" placeholder="Mystery, Drama"
					value="<%=movie.category%>" required></input><br> <br>
				Rent Amount: <input type="text" name="rent" id="rentAmount"
					class="form-control" placeholder="$$.$$" 
					value="<%=movie.rentAmount%>" required ></input><br> <br>
				Available Copies: <input type="text" name="copies" id="quantity"
					class="form-control" placeholder="Copies" 
					value="<%=movie.availableCopies%>" required ></input><br> <br>				
				Status: <select class="form-control" name="status"
					id="status">
					<option value="available">available</option>
					<option value="unavailable">unavailable</option>
				</select><br><br>
				<input type="hidden" value="<%= movie.id%>" id="movieId" name = "movieId">
				<button type="submit" class="btn btn-primary" value="Edit Movie">Submit</button>
			</div>
		</div>


	</form>
				
			</div>
	
	</div>
</body>
</html>