<% include bootstrap.ejs %>
<html>
<head>
<title>Search Member</title>
<style type="text/css">

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

 #signout {
 	margin-top: 20px;
 }
</style>
</head>
<body>

<div class="container-fluid">
		
	
		<div class="row">
			<div class="col-md-2 sidebar">
				<ul class="nav nav-sidebar">
				
					<li><a href="/home">Home</a></li>
					<li><a href="/searchCustomer">Search Customer</a></li>
					<li><a href="/searchMovie">Search Movie</a></li>
					<li><a href="/addCustomer">Add Customer</a></li>
					<li><a href="/addMovie">Add Movie</a></li>
					<li class="active"><a href="/displayMembers">Display Members</a></li>
					<li><a href="/displayMovies">Display Movies</a></li>
					</ul>
					
				</div>
			</div>
			<div class="col-md-10 col-md-offset-2">
				<div class="pull-right" id="signout">
					<form action="/loginPage">
						<input class="btn btn-primary" type="submit" name="submit"
						value="Sign Out" />
					</form>
				</div>
				
			

	<h2>Member List</h2>
	<table class="table table-bordered table-hover">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Membership No</th>
			<th>Member Type</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
			<th>Zip Code</th>
			<th>Select a member</th>


		</tr>
		<form class="navbar-form navbar-left" role="submit" method="POST">
			<button type="submit" class="btn btn-default" value="Edit Member"
				onclick="form.action='/editMember'">Edit Member</button>


			<button type="submit" class="btn btn-default" value="Delete Member"
			onclick="form.action='/deleteMember'">Delete
				Member</button>

			<button type="submit" class="btn btn-default" value="Issue Movie"
			onclick="form.action='/issueMovie'">Issue
				Movie</button>


			<button type="submit" class="btn btn-default" value="Return Movie"
			onclick="form.action='/returnMovie'">Return
				Movie</button>

			<div class="radio"><% for(var i=0; i < members.length; i++){ 
				if (!members[i].membershipno){
					continue;
				}
				var memType = "Premium";
				if (members[i].membertype==0){
					memType = "Standard";
				}
				
			%>
			
		<tr <% if (members[i].status =="inactive"){ %>
			
				class="danger"
				<%
				}else{%>
					class="success"
				<%}
				 %> >
		
			<td><%= members[i].fname %></td>
			<td><%= members[i].lname %></td>
			<td><%= members[i].membershipno %></td>
			<td><%= memType %></td>
			<td><%= members[i].address %></td>
			<td><%= members[i].city %></td>
			<td><%= members[i].state %></td>
			<td><%= members[i].zipcode %></td>
			<td><input type="radio" class="radio" name="member"
				value="<%=
				members[i].membershipno %>" checked="<% if(i==0){%>checked<%}else{%><% } %>"> </input></td>
				
		</tr>
			
		<% } %>
		</div>
	</table>

	</form>
				
			</div>
	
	</div>
	
</body>
</html>