<% include bootstrap.ejs %>
<html>
<head>
<style type="text/css">

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

 #signout {
 	margin-top: 20px;
 }
</style>

<title>homePage</title>
</head>
<body>
	<div class="container-fluid">
		
	
		<div class="row">
			<div class="col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/userhome">Home</a></li>
					<li><a href="/customersearchMovie">Search Movie</a></li>
					<li><a href="/viewProfile?membershipno=<%=movies.membershipno%>">View Profile</a></li>
					<li><a href="/viewHistory?membershipno=<%=movies.membershipno%>">View History</a></li>
					</ul>	
				</div>
			</div>
			<div class="col-md-10 col-md-offset-2">
				<div class="pull-right" id="signout">
					<form action="/loginPage">
						<input class="btn btn-primary" type="submit" name="submit"
						value="Sign Out" />
					</form>
				</div>
				
			<h2>User History</h2>
	<table class="table table-bordered table-hover">
		<tr>
			<th>Movie Name</th>
			<th>Category</th> 
			<th>Issued Date</th>
			<th>Return Date</th>
			<th>Rent Amount</th>
			
		</tr>
		<tr>
			<% for(var i = 0; i< movies.length; i++) { %>
			<td><%= movies[i].name %></td>
			<td><%= movies[i].category %></td>
			<td><%= movies[i].issuedDate%></td>
			<td><%= movies[i].returnDate %></td>
			<td><%= movies[i].rentAmount %></td>

		</tr>
		<% } %>
		
	</table>

				
			</div>
	
	</div>	
</body>
</html>