<% include bootstrap.ejs %>
<html>
<head>
<style type="text/css">

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

 #signout {
 	margin-top: 20px;
 }
</style>

<title>homePage</title>
</head>
<body>
	<div class="container-fluid">
		
	
		<div class="row">
			<div class="col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/userhome">Home</a></li>
					<li><a href="/customersearchMovie">Search Movie</a></li>
					<li><a href="/viewProfile?membershipno=<%=members.membershipno%>">View Profile</a></li>
					<li><a href="/viewHistory?membershipno=<%=members.membershipno%>">View History</a></li>
					</ul>	
				</div>
			</div>
			<div class="col-md-10 col-md-offset-2">
				<div class="pull-right" id="signout">
					<form action="/loginPage">
						<input class="btn btn-primary" type="submit" name="submit"
						value="Sign Out" />
					</form>
				</div>
				
			<h2>User Profile</h2>
	<table class="table table-bordered table-hover">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Membership No</th>
			<th>Member Type</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
			<th>Zip Code</th>
	
			
		</tr>
		<tr>
			<td><%= members.fname %></td>
			<td><%= members.lname %></td>
			<td><%= members.membershipno %></td>
			<td><%= members.membertype %></td>
			<td><%= members.address %></td>
			<td><%= members.city %></td>
			<td><%= members.state %></td>
			<td><%= members.zipcode %></td>
	

		</tr>
		
		
	</table>

				
			</div>
	
	</div>	
</body>
</html>